.community-section {
    padding: 60px 0;
}

.community-section .btn-wrap {
    margin-bottom: 30px;
    text-align: right;
}

.community-outer-wrap {
    background-color: var(--white1);
    border-radius: 30px;
    padding: 40px;


}

.community-outer-wrap .community-wrap {
    padding: 30px;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    margin-bottom: 30px;
}

.community-outer-wrap .community-wrap:last-child {
    margin-bottom: 0;
}

.community-outer-wrap .community-wrap .top-content {
    display: flex;
}

.community-outer-wrap .community-wrap .ans-count {
    border: 1px solid var(--white3);
    padding: 10px;
    height: 52px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--dark_black5);
    border-radius: 4px;
}

.community-outer-wrap .community-wrap .ans-count i {
    display: flex;
    margin-left: 10px;
    transition: all 0.3s;
}

.community-outer-wrap .community-wrap.open .ans-count i {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.community-outer-wrap .community-wrap.open .ans-count {
    margin-bottom: 0;
}

.community-outer-wrap .community-wrap .img-wrap {
    height: 60px;
    width: 60px;
    background-color: var(--light-white7);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.community-outer-wrap .community-wrap .content-wrap {
    flex: 0 0 calc(100% - 75px);
    max-width: calc(100% - 75px);
}

.community-outer-wrap .community-wrap .content-wrap .answers {
    font-size: 15px;
    color: var(--dark_black4);
    padding-bottom: 20px;
}

.community-outer-wrap .community-wrap.open .content-wrap .answers {
    border-bottom: 1px solid var(--white3);
}

.community-outer-wrap .community-wrap .content-wrap .more-answer .answers {
    border-bottom: 1px solid var(--white3);
    padding: 20px 0;

}

.community-outer-wrap .community-wrap .content-wrap .more-answer {
    margin-bottom: 10px;
}

.community-outer-wrap .community-wrap .content-wrap .answers:last-child {
    border-bottom: 0;
}

.community-outer-wrap .community-wrap .content-wrap .question {
    font-size: 20px;
    color: var(--black1);
}

.community-outer-wrap .community-wrap .content-wrap .heading-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3px;
    margin-bottom: 5px;
}

.community-outer-wrap .community-wrap .content-wrap .heading-txt .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.community-outer-wrap .community-wrap .content-wrap .heading-txt .date {
    font-size: 14px;
    color: var(--green);
}

.community-outer-wrap .community-wrap .img-wrap img {
    height: 40px;
    width: 40px;
}

.community-outer-wrap .bottom-content {
    display: flex;
    flex-wrap: wrap;
}

.community-outer-wrap .bottom-content .ans-count {
    margin-right: 15px;
    flex: 0 0 60px;
    max-width: 60px;
}

.community-outer-wrap .input-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 calc(100% - 75px);
    max-width: calc(100% - 75px);
}

.community-outer-wrap .form-group {
    flex: 0 0 calc(100% - 154px);
    max-width: calc(100% - 154px);
}

.community-outer-wrap .form-group .form-control {
    padding: 0 20px;
    font-size: 16px;
    height: 52px;
    border-radius: 4px;
    border: solid 1px var(--white3);
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    color: var(--black1);
    outline: 0 !important;
    transition: all 0.3s;
}

.community-outer-wrap .form-group .form-control:focus {
    border-color: var(--green);
}

.community-outer-wrap .form-group .form-control::placeholder {
    color: var(--light-white5);
}

.community-outer-wrap .btn {
    font-size: 16px;
    min-width: 124px;
    height: 52px;
}

.community-section .community-outer-wrap .btn-wrap {
    margin-left: 30px;
    margin-bottom: 0;
}

@media (max-width:767px) {
    .community-section {
        padding: 40px 0;
    }

    .community-section .btn-wrap {
        margin-bottom: 20px;
    }

    .community-outer-wrap {
        padding: 25px;
    }

    .community-outer-wrap .community-wrap {
        padding: 20px;
        margin-bottom: 20px;
    }

    .community-outer-wrap .btn {
        height: 40px;
    }

    .community-outer-wrap .form-group .form-control {
        height: 40px;
    }

    .community-outer-wrap .community-wrap .ans-count {
        height: 40px;
    }

    .community-outer-wrap .community-wrap .content-wrap .question {
        font-size: 18px;
    }

    .community-outer-wrap .community-wrap .content-wrap .more-answer .answers {
        padding: 10px 0;
    }
}