.research-services-section {
    padding: 50px 0 0;
}

.research-services-section .recommendtion-list {
    justify-content: center;
}

.research-services-section .recommendtion-list .item {
    flex: 0 0 30%;
    max-width: 30%;
}

.research-services-section .message-box {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white);
    font-size: 19px;
    transition: all 0.5s;
    border: 1px solid var(--white8);
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px 1px rgba(210, 210, 210, 0.3);
    display: block;
    color: var(--black1);
    font-weight: 500;
}

.research-services-section .message-box:hover {
    background-color: var(--green);
    color: var(--white);
}

.niveshaay-research-block.featured-on.niveshaay-section-paddding.sample-research {
    padding: 50px 0;
}


@media (max-width:1024px) {}

@media (max-width:991px) {
    .research-services-section .recommendtion-list .item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width:767px) {
    .research-services-section {
        padding: 30px 0 0;
    }

    .niveshaay-research-block.featured-on.niveshaay-section-paddding.sample-research {
        padding: 30px 0;
    }
    .research-services-section .message-box {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width:575px) {
    .research-services-section .recommendtion-list .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}